.link {
  font-family: Lobster;
  display !important;
  margin: 10px;
  font-size: 20px;.
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
